<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Summernote 스크립트 및 스타일 로드 -->
<script src="/summernote/summernote-lite.js"></script>
<script src="/summernote/lang/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/summernote/summernote-lite.css">

<link rel="stylesheet" href="/css/default.css" />
<!-- 기본 js -->
<script src="/js/sweetalert.min.js"></script>
 
 <header class="header">
      <div>
        <div class="nav">
          <ul>
            <li><a href="/board/list?reqPage=1">자유게시판</a></li>
         
          </ul>
        </div>
        <div class="logo">
          <a href="/">table</a>
        </div>
        <div>
          <ul class="user-menu">
          	<th:block th:if="${session.member == null}">
          	    <li><a href="/member/loginFrm">로그인</a></li>
            	<li><a href="/member/joinFrm">회원가입</a></li>
            </th:block>
            <th:block th:if="${session.member != null }">
				<li>
					<a th:if="${session.member.memberLevel == 1}" href="/member/mypage">관리자</a>
					<a th:if="${session.member.memberLevel == 2}" th:text="${session.member.memberId}" href="/member/mypage"></a>
				</li>
				<li><a href="/member/logout">로그아웃</a></li>
			</th:block>
          </ul>
        </div>
      </div>
    </header>
</html>
