<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/sweetalert.min.js"></script>
<style>
.header {
	background-color: gray;
	padding: 20px;
}

.header>div {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	gap: 50px;
}
.nav > ul{
 list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  }
</style>
<header class="header">
	<div>
		<nav class="nav">
			<ul>
				<li><a href="#">자유게시판</a></li>
			</ul>
		</nav>
		<div class="logo">
			<a href="/">table</a>
		</div>
		<ul class="user-menu">
			<th:block th:if="${session.member == null}">
				<li><a href="/member/loginFrm">로그인</a></li>
				<li><a href="/member/joinFrm">회원가입</a></li>
			</th:block>
			<th:block th:if="${session.member != null}">
				<li><a href="/member/mypage2"
					th:text="${session.member.memberName}"></a></li>
				<li><a href="/member/logout">로그아웃</a></li>
			</th:block>
		</ul>
	</div>
</header>
</html>
